{% extends '_base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ project.title }}</h1>
        {{ project.content | raw }}
    </article>
{% endblock %}
